# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
*.bak

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
.github/
*.swp
*.swo

# Project specific
tests/
download/
*.mkv
*.srt
*.ass
*.sup
Dockerfile
local.start.sh