# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env

Dockerfile
local.start.sh

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
downloads/
*.mkv
*.srt
*.ass
*.sup