# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
Dockerfile

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
temp_downloads/
*.mkv
*.srt
*.ass
*.sup